


.white-key {
  width: 85px;
  height: 300px;
  border: 1px solid #333;
  background-color: #fff;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  transition: transform 0.1s ease-in-out;
  margin-left: -25px;
  z-index: 4;
}

.container {
  display: flex;
  justify-content: center;
}

.black-key {
  width: 50px;
  height: 150px;
  background-color: black;
  z-index: 1;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
  margin-left: -25px;
  z-index: 5;
}

.pressed {
  transform: translateY(5px);
  box-shadow: none;
}

.fake-key {
  background-color: transparent;
  color: transparent;
  width: 50px;
  height: 0cm;
  margin-left: -25px;
  z-index: 3;
}

#root {
  justify-content: center;
  display: flex;
  flex-direction: column;
}